#header {
    font-family: 'Archivo Black', sans-serif;
}

li {
    font-family: 'Neucha', cursive;
    font-size: 20px;
}

body {
	font-family: 'Concert One', cursive, sans-serif;
	background-image: url('img_girl.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
  }


.item {
	position:relative; 
	max-width:100%; 
	margin: 0 auto; 
	padding: 0px 10px 0px 10px
}

#results-div {
	position: relative; 
	width:100%;
	max-width: 100%; 
	margin: 0 auto; 
	padding: 20px; 
	text-align: center;
}
